.active {
    background-color: red;
}

.inactive {
    background-color: black;
}

body {
    background-color: black;
}

h1, p, label {
    color: white;
}

table {
    border: 2px solid white;
}

td {
    height: 25px;
    width: 25px;
}